Source: moled
Section: user/hidden
Priority: optional
Maintainer: Jonathan Ledlie <jonathan.ledlie@nokia.com>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: https://projects.developer.nokia.com/mole

Package: moled
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqjson (>=0.7.1)
Description: Mobile Organic Localization Engine (Mole) Daemon
 This deamon continuously computes a space-name estimate based on background
 RF readings and outputs this estimate to applications.
XSBC-Bugtracker: https://projects.developer.nokia.com/mole
XB-Maemo-Icon-26: iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAIAAADYYG7QAAAAAXNSR0IArs4c
 6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sGGxEbLU14PdoAABFA
 SURBVFhHvZh3dBTl18efZ7bXbHZTNwmpEBJMCAESEjoiIL2jAtLhF0REQYoe
 QLFhRVEpUqIgiFSlCAIJoSktkEAapmdLks32nZ2d/rx/ROKm+L7H8/O8nz/2
 7DPnPjPfuffOvXcGIoTAExBCEELOaAJaLSaTQgjB/zuY/wJCiN+47eiVYntx
 IW93/t2e/4b299+FQTtBAADnhrcFQaES0yVI+7ow/6+BECLH6jXbVzRWfgUh
 39mgnSAEgDpIAbVBTiPgsK70/xsUmZ/HND3S3v3kj6Y60N5nAADov/bt2o84
 j0AX4foxV7fngCBIB/4lWrPT7wBX5ry77fiNZ/UJU8dO7mjahu+rHabIQMfA
 Pu6qmzzPo3+DtvPUbhmBPPzjVWs4hBiWRAg5CGLbj7s62P8VMkThHvN1vcFu
 bDbiV+5CCP90Hero1bbD7ZZPbDiXhTU10DY7aTewLhsgSMZwt3r1qyE1ijPH
 IzQPr9vScnia4pFJI5PdM9yg6EaE6Lbz+IeMI09+Zanj1cf2EzH9uX7JUavX
 cJW1WPcYCCAAACEAIeCBDwMyhHgIMYQQhBA9CQdz5yF/917N7Q+CJH0o0ttU
 clGflimh4oSgjH/6ZcHRw43X70c9P5Vwk5Ut1VkFlxES8oj48tjBRRPmquTq
 VhF/eYhtaWw59qns7FdctUdZW9G0dRs+bRZzNQ9wnL1nBr5yKoSg8JkX6du/
 uz49ASEGAN6qA0LIsWUAAFFGqmTZPKUrTOIlH98t7VdI63NvCCqruGK5yNGI
 iPCE6iJv3kXsQXEipwRACqHQ5Wad1halTNmlh4Bt7wHm5Hu6vbect/6Qlx11
 HnootFYIZJSo/0jJxNHM1Y3sVTXrtEnjon4HgpRAGHLwBOA4iESYSndleWri
 SSsjB5hUjSmAh8FIh0cjE9PRslAYJHlxjvOt9yWBMsHW2dSqy82yxv6plIrk
 BqdkbHlpfa+wzDYNfjkEgDRM9dBBcAf2upePtXx+Wk5USCZNFkoj5DlroYzH
 AmdxiTGQDhavWJ2Mt8CEoTXfHLAvmm9Yu8U9fFrvjJcovVLRZyivFFAB4WFC
 aSQPRel9AvExdH0DuWufaN1qhIUgMMCtBwp1xOgXpmb2HDItY1GvsEx/p8AO
 CVs6dA4MpLs/M7T+s32aYI185ZLHqz6JjyN9ailWbkFIgktFGoKUzJxtLciX
 Rj4FK25w/bLtxYVRUbElxXdilFqpxENmPScnHqv3HARKhbvv083Cmsjk7orc
 i/WLV4nyLyhHTHKfP2retLbnvPlqqQy1rwjtCyNCva5+r09Wmz7ZF5138vEf
 5dZV65JfnU1U8mSZXT5rgXzC1ECxnBOLyKOHpBIEDecZihVey9e73XR9Wd+P
 P5LHhplAYFBGJCo30HtyG3r25nrHRCQIxIvX4usOq84cgQMmUL89kgqFaWKF
 WipDAHTomEL/Reuj7suYGFCCGw4eTgmPYCdNRVKMFXolNMNWVYmHD+WsAoms
 XjJ2vCiq+6OXlkdjdhKoMOCjwmKUIcIGTVicMsSx90cxBUWvrhCeu+xtKZbN
 /xKZHb7v1yk2vcXt3u5h5T5dkHryJABAF93bvyjxPI+e1DFTTo6pe5L9mXGP
 kiZalDr7lztck+c26OPNiX2rPl5mfirLnpDgOH22JTKcLjpu75XOmRqZknLX
 5pnOQe8SB/O5JpdzzPRmXaD1paOukam2kAT3/BU8xVg13UzdulekJRPmG6gr
 2nmo1Uu+e/es+Zeiduy4mbMsc/iMbqeOqEqbbD2TGC8vQ8grheqtefI5Ubxn
 GLv0kHTuEhiWwEgDeZ+nOXuwRKQWZRmIdUep3RrmMeL6jhP+uEZWWuRc8y6V
 f84XHkckdAcYEZWxRBY+EHXsJwB0TmrTyUPyl9+UblwlmTkf02paD7IUQ/IY
 fuQwVlPMPKiWyUPEPWKcp04oWA9BBGBKq+rNPfT6eQ4glXXro35hhG/Tu1Co
 EGu0wgE9iILrFS0ObOJgbfqgWEkwERWgnjZNAAB4Umk70i5eCJX1n2AP725P
 juKaGjv7k+doqraOc7pZzsgU5d/oE45cPtpoQAhZZs6/I1U5l605qtZSJ054
 Rqb8GhN8Kn4QXlSGG41uh8XvNPYRXw8/fi8XoS7aZbscYh2Ua9xk16T59REa
 utHY2bqVVum8//8/M4/8uy1ttFq+vn977OKY0oYy9NfeP/EXxPh2fOjZs8vW
 Pd29diXvwdE/p8sZged5/+M8zyGEcFQ0e9vqk7+c6GDsX4eELC8jN7yJlD5+
 0SSoVHQK7/9N5yRFCEEIIYS1bw0FHr5p/57WrqwAvXctf7/IVAnaz2h/CeJ5
 3Np8NrCpiU6Mx9x/PX2t1v570J+/XY8frKOJs1mpZgthqnPfrwI+iiy/0rRs
 gSp02JmjIcrDH1oHLGJID49sSrG4FC9trn3sfxvtxg9i++sONljy8UHq6Wyu
 b5Ju/Hix1SHKGkACWgrErUYUMkugvuP4ASCAgC28w1zIN5d/o3QneSwGWmsM
 nTwfXLUwD24LXntFsnuf1eiJXLfRVFLkqrqTVnCR50Uch158Z+W+DZ/JZYqO
 gnwtprzpE9ORR1LshmJkCU0MlRLCxGiu0sXxNmFqtiQ+tezhH+kf5dQvfin6
 0q8A4AgoIQAAAQSrq778KS4tWZA1ypIQon1/a/6unaPOXmYfFnpWbhLExXEe
 D19VLRkxls77CcpUQKUOvFUAABjzyoS08L4frN8M24q2f0K5f7ncPLUXi1DL
 6Xu2fpnmF1c3B0XZksKcs34wRkfgq3vbE1Jt8X18L68/3yO1Nr4/V/yo7L2Z
 yO5hTRbmfpFVpDmh1DYm9TUmJOIZQwoDQg0jxlSkx/Euh3vJEmNMoiMtteXj
 pZbg/qXDBotGhWiGyigSrzCf8tfQrlIjAfW70T7253OeN1bajHhsoxkXC1W4
 EJj3aReuBDodG3lEGPgUyBqRmXdGNme6ccBAWq8rOTAyrNEhXTHLFqzo0y2J
 jwkHUpkid3dsiFYSnRi6YLUjKQWLiIWjh7GHjsNvb/q8RuWKfeO4y/JKOq+g
 4tnRk5F/yUbteTRsTkn/bPLDj8jKaltkfN2YaQ3BGc6+3ZqXDrSm9GpJG13V
 eyC+ZLMxMr4urhdRU2ebldOojynWhCEePVQGmmOTbLExRG4uvv4l3kfUl96x
 jBxtTOpL7v+eI71MeUWLQEYbGoyasPJdX+M0iTpVinato1Wpt7rGePDHcGtD
 6Z0SfX2dShfKC3oSeJkM0pJeaeKR2b4rv3kLbwr1QSKPETmlLCaQRUQwkKJ7
 ZcsfNzU03O6x6mUQUEmagoS3HiGJ1+EepN+cQl+qJj7fwkxaJrp5G0ON0rWv
 ypbngE4Nv+P4AQDwlj/WPayx9evRf2mm9+Jl4sJFPoJTRkYqN633zpjOJXRX
 Pj9KOqwv3czhV85IvSba5lO9NlUIoNhhrDVRcXGpziM/Sy0m+43tCoiw/aeD
 Pkoij1+ijp2Wb3yTPnwQpCfhtT7x4LTOagDoFLI2B5pylptT+tu/+IqprWsS
 Kny5e/Hn5t2LSbBMn14+MqYxfZAjslvl1BXW2Ei6+Ji9ZxrntLMWm2vzLEfa
 Oue4t7gmh3PsZEuU1rriuGtKki002aoNRRxyZ015nJH9cNYUwnQddUX7pEYI
 QtisTWDe+k/kjq+t1woUtR77nIXBpKs5PF4oRInPLGAq8qNSFqCwRyAzLWbD
 a+SnIajaQSkhvvgb7/UvRKRQ8dkg37m77gkDeDSK4bSS3CXymmrjy28ISgs5
 bTgRHSmWiaK0Y2X6Qair8aNjyEwnvlcEi7XxYYjwBg0ZBoaAkHkTSBfOFlyV
 PvjN++h32hkiuHgkIGep9YuvJXK5TKvyLNoY8O1p76KnCYWeIUmFg2POHhdG
 Z0j52yhE6sJCLM+OscXokj7/VFFcIU3voxzer+MnDn86BKu0/yR7WLw9NYVr
 9h8YnthwNFlXzxhNLGck6x4xjAEhxJmbEEKODdtuimTFi5adik/07b/hSY76
 YsZTjl+v4RWVlMPh9br9zzP866EnCk8ihDr34vbjh5t1jZ3kWbza1kvHWQwd
 bZ/QvnXzqNOj2yVPLDmE0Ov7t8ctjrlVdgd12ttu/GBu/kBeOm4BKteUObyH
 QP8erVd1NRsQQhzvQwgRqDRrydhfLv/awbKdh/Cd2x0zR7FNFvLBLfQPabvR
 Dnfctqz/cNyjKb1r336PQ4jnEc/V0TyVuSyrw5Z244cdFuEeIbF3G0v+b9/z
 2iop8n/jhJAFLM94eI+VPHDcV16BFxkbdl+HNEMU55nnTJMEpGkkXmrPTufc
 KcjlRFi0CIq7ZfVvrCn/m/EDsVRpnv1OrXDVZt+oUd2OHyS/+BTqoyUzpgM/
 OOAQAA1CCEKsVRSAECEEIHLnHxP88J2HrWdLWnwKuUKSqhnfy3KrSdHkwxLV
 gvx8FqhVyxb75HK0/ePA0vsQSK7X3N25a2fuOzskEukTGU9gms03IkNdNXW2
 6Kda1JrGfgMN+lhbdKqj33BH9qDGwTNsaRnGwxeuTJtC2B0IoZaKGzRuaHN4
 5dfvlkWFcfWGlugg95yxVbvesaXqG789ZEnpi7/yfpNWb9HqXVnP2vtkObKG
 OQYMQQjN+nBJwoiEN7e+g/zo+BrUMik5+OcylmFdg4djdhfP0LjOo/Lm+GTf
 yBgdpgyQPT+NLcbNvx+JemG2aPL4xpWzw08VYADWhj8dpHPkefD+Q3tydw2K
 IC0lCOL1UjGmDj3zHXM33/1bnfujrdrQWA6vtMZEZwdXyTzCxODIw9s2hqhH
 tQloVxhtJ89cM9rH7dpvv3DWXFLefUA22dystjAw/EjQgg+oSxdZq528UC8a
 FRNYwDHBPfDJE5s53pwQm9BziibKZ6a57JiegslzSfxoUN6vdn2gLHsp1meg
 7+13qJ/OkQIuwOemmXrMA4WLX8m0nEqXx+SkbQhRS5Ffye7oIcMH+1VHPveQ
 St3FI97soRYBpmaCVQGQnaiD5x4jTAt2fam8dtW2fac0LAKySiZEjsqKrXJZ
 7PjpdYd3a8VSsZiXrV4LuQbJc2tqr1wK+O6gs8ISveU1wYSxfJPFmTFIEJVE
 4Y3klnXR8xbBJ/2qTUDHrx9RGxbK8q6ApbPImTMIlVaJIAcbscxRxMEaTt1N
 QHo0Poq4+QDJxMhpEyZSoro/YIg2UhfA4Abt6CnqCa+baAy6CCD3eAsPBn9/
 XIJaJD1n2Cw8vnGOM2sgNmugaOrzYoTC3ESrig7trH1XgRAAIJDKpEaLC5fq
 uvVQEl4RJmJKrgRMG6Z8YRqw4665y+UTMnVvb6FVodztehgWQVXUiuY+x92s
 UGYlG6zVcT2CqLsPyH2FdQ3V7qHJZBWvCLEo4hnumhnTRcKLhaJAkgwO49MT
 QFd0DFkriOLYi583rcsVLVzszD0Sk55mq70vrWqqC1Al9NDj5Xc0Y15nCs47
 UjKVt35W3ztNTFwTePM8AMCye77irhn0HiHPWUruKuLpApodC068QFl0EugU
 9x2K03aT19bj6KFqorR35OjOl/6bvivGRBNWR5WVCEK76UI0V0qLYKUNm5gV
 5+PhwDERVS7q1F7hjEmBeE1gQR773n+Au9amTbdkDMfeuCZc/w3bwrnHTySP
 LaULS/hNowJv19ALpjRog2sbyrmmFinFSgobe0eO7tIXXXuoAzwAJd8cinM2
 o8TYmpwNEQunS0WKlm3bkQzq5i8E9wvFE6e4Nr5FRSexQQHCqwUylUoyYoZ4
 SO/GTW80+4jq7Sv63TT2/HYfgIBvcmJhGtApl/8C/RN4jqaNZrq+hEckZXjk
 M5xHCHEuF0LIu/MY8rhKNr1NvLqVI0nX4hV/PD6JjA0eQ0NzcwPNMgghHnEI
 dTVz+PE/Y5oQnvjKe1IAAAAASUVORK5CYII=
